<div class="wedding c_tree event-wrapper">
  <div class='container'>
    <div class='top-wrapper'>
      <img src="https://s3-eu-west-1.amazonaws.com/events-assets-static/categories/wedding/themes/c_tree/assets/top.svg">
    </div>
    <div class='text-wrapper-1' style="font-family: <%= event.font_family_1 %>;color: <%= event.font_color_1 %>; font-size: <%= event.font_size_1 %>em;">
      <div id="text_1"><%= event.text_1 %></div>
    </div>
    <div class='text-wrapper-2' style="font-family: <%= event.font_family_2 %>;color: <%= event.font_color_2 %>; font-size: <%= event.font_size_2 %>em;">
      <div id="text_2"><%= event.text_2 %></div>
    </div>
    <div class='text-wrapper-3' style="font-family: <%= event.font_family_3 %>;color: <%= event.font_color_3 %>; font-size: <%= event.font_size_3 %>em;">
      <div id="text_3"><%= event.text_3 %></div>
    </div>
    <div class='line-wrapper'>
      <img src="https://s3-eu-west-1.amazonaws.com/events-assets-static/categories/wedding/themes/c_tree/assets/line.svg">
    </div>
    <div class="calendar-wrapper" style="visibility
    : <%= event_visibility(event) %>">
      <%= render partial: 'themes/shared/calendar', locals: { event: event } %>
    </div>
    <div class='images-container'>
      <%= render partial: 'elements/slideshow', locals: { images: event.pictures.sort { |pic_1, pic_2| pic_1.order <=> pic_2.order } } %>  
    </div>
  </div>
</div>