<div class="wedding classic event-wrapper">
  <div class='theme-wrapper vertical-align'>
    <div class="images-container">
      <%= render partial: 'elements/slideshow', locals: { images: slideshow_images_for(event) } %>
    </div>
    <div class='graphics-wrapper'>
      <div class='text-wrapper'>
        <div class="text-1-wrapper">
          <div id="text_1" style="font-family: <%= event.font_family_1 %>;color: <%= event.font_color_1 %>; font-size: <%= event.font_size_1 %>em;"><%= event.text_1 %></div>
        </div>
        <div class="text-2-wrapper">
          <div id="text_2" style="font-family: <%= event.font_family_2 %>;color: <%= event.font_color_2 %>; font-size: <%= event.font_size_2 %>em;"><%= event.text_2 %></div>
        </div>
        <div class="text-3-wrapper">
          <div id="text_3" style="font-family: <%= event.font_family_3 %>;color: <%= event.font_color_3 %>; font-size: <%= event.font_size_3 %>em;"><%= event.text_3 %></div>
        </div>
      </div>
      <div class='decoration-wrapper'>
        <div class='left'>
          <img class="l" src="<%= aws_asset_url(event, 'decoration-left.svg') %>">
        </div>
        <div class='right'>
          <img class="r" src="<%= aws_asset_url(event, 'decoration-left.svg') %>">
        </div>
      </div>
      <div class="calendar-wrapper" style="visibility
  : <%= event_visibility(event) %>">
        <%= render partial: 'themes/shared/calendar', locals: { event: event } %>
        </div>
      </div>
    </div>
  </div>
</div>