<div class='tile' data-event-id="<%= event.id %>">
  <div class='tile-header'>
    <div class='name-wrapper name-editor'>
      <div class='name vertical-align'>
        <div class='edit-icon'></div>
        <a href="#" class="event-name" data-type="text" data-url="<%= event_path(event) %>" data-pk="<%= event.id %>"><%= event.name %></a>
      </div>
    </div>
  </div>
  <div class='url-wrapper'>
    <div class='btn-wrapper'>
      <div class='copy-icon'></div>
    </div>
    <input type="text" value="<%= "#{ENV['ROOT_URL']}#{event_url(event)}" %>">
  </div>
  <div class='image-wrapper'>
    <div class='image' style="background: url('<%= dashboard_tile_backgroud_for event %>') no-repeat; background-size: cover;">
      <div class='menu-wrapper'>
        <div class='buttons'>
          <a class="preview" target="_blank" href="<%= event_path(id: event.id, preview: true) %>"></a>
          <a class="edit" href="<%= edit_event_path(event) %>"></a>
        </div>
        <div class='info'>
          <div class='theme-name'>
            "<%= event.theme_name %>"
          </div>
          <div class='date'>
            <%= event.created_at.strftime('%F') %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='analytics'>
    <div class='views'>
      <img src="<%= asset_url('dashboard', 'view_icon.svg') %>">
      <div class='text'><%= event.views_count %></div>
    </div>
  </div>
  <div class='tile-footer'>
    <div class="info">
      <div class='time'>
        <img src="<%= asset_url('dashboard', 'time_icon.svg') %>">
        <div class='text'><%= time_format event.start_time %></div>
      </div>
      <div class='place'>
        <img src="<%= asset_url('dashboard', 'place_icon.svg') %>">
        <div class='text'><%= event.location %></div>
      </div>
    </div>
    <div class="actions">
      <% if event.published? %>
        <div class='unpublish-wrapper'>
          <div class="unpublish"></div>
          <div class='text'>UNPUBLISH</div>
        </div>
      <% else %>
        <div class='publish-wrapper'>
          <div class="publish"></div>
          <div class='text'>PUBLISH</div>
        </div>
      <% end %>
        <div class='delete-wrapper'>
          <a class="delete" href="<%= event_path event %>" data-method="delete" data-confirm="Are you sure?"></a>
          <div class='text'>DELETE</div>
        </div>
    </div>
  </div>
</div>