<div class='admin-wrapper admin-events'>
  <div class='table-wrapper'>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>USER</th>
          <th>STATE</th>
          <th>URL</th>
          <th>Theme</th>
          <th>Name</th>
          <th>Created At</th>
          <th>ID</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%
          themes_sum_hash = {}
          @events.each_with_index do |event, i|
            url = event.full_url
            theme_name = event.theme_name
            themes_sum_hash.merge!({
              theme_name.to_sym => {
                color: friendly_color,
                count: 0
              }
            }) unless themes_sum_hash[theme_name.to_sym]
          %>
          <tr>
            <% theme_hash = themes_sum_hash[theme_name.to_sym] %>
            <% theme_hash[:count] += 1 %>
            <td><%= i + 1 %></td>
            <td><%= event.user.email %></td>
            <td><%= Event::STATES.invert[event.state] %></td>
            <td>
              <a target="_blank" href="<%= url %>"><%= url %></a>
            </td>
            <td>
              <span class="label" style="background-color: <%= theme_hash[:color] %>"><%= theme_name %></span>
            </td>
            <td><%= event.name %></td>
            <td><%= event.created_at.strftime("%d/%m/%Y") %></td>
            <td><%= event.id %></td>
            <% if event.published? %>
              <td><%= button_to 'unpublish', unpublish_admin_event_path(event), method: :put %></td>
            <% else %>
              <td><%= button_to 'Publish', publish_admin_event_path(event), method: :put %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class='sum-wrapper'>
    <% themes_sum_hash.each do |k,v| %>
      <span class="label" style="background-color: <%= v[:color] %>"><%= k %></span> X <%= v[:count] %>
    <% end %>
  </div>
</div>