<div class="calendar-element">
  <%= event_form.fields_for :information, event.information || Information.new do |info_form| %>
    <div class="row collapse">
      <div class="small-12 columns">
        <div class='sync-switch'>
          <div class='text small-10 columns'>
            Synchronize your guests calendars 
          </div>
          <div class='switch-wrapper small-2 columns'>
            <div class="switch tiny">
              <%= info_form.check_box :in_use, {id: 'calendar-switch'}, 'true', 'false' %>
              <label for="calendar-switch"></label>
            </div>
          </div>
        </div>
      </div>
      <div class="details-wrapper small-12 columns">
        <%= info_form.text_field :summary, placeholder: 'Event Name' %>
        <%= info_form.text_field :location, placeholder: 'Event Location' %>
        <label class="organizer-title title">Event Organizer</label>
        <%= info_form.text_field :organizer, placeholder: 'Full Name' %>
        <%= info_form.text_field :organizer_email, placeholder: 'Email' %>
        <label class="time-title title">Time Zone</label>
        <%= info_form.select :time_zone, time_zones_options_string.html_safe %>
        <%= info_form.text_field :start_time, placeholder: 'Start Time', class: 'datepicker' %>
        <%= info_form.text_field :end_time, placeholder: 'End Time', class: 'datepicker' %>
      </div>
    </div>
  <% end %>
</div>