<div class="row text-area">
  <div class="small-12 columns">
    <div class="row collapse">
      <div class="row collapse">
        <div class="small-2 columns">
          <span class="prefix"><%= title %></span>
        </div>
        <div class="small-10 columns">
          <%= event_form.text_field "text_#{count}", id: "text_#{count}", data: {target: "text_#{count}", context: "#{count}"} %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row appearance-area">
  <div class='small-12 columns'>
    <div class="small-5 columns font-box box">
      <div class="row collapse prefix-radius">
        <div class="small-3 columns">
          <span class="prefix">font</span>
        </div>
        <div class="small-9 columns">
          <%= app_form.select "font_family_#{count}", options_for_select(fonts_for_select, event.send("font_family_#{count}")), {}, { class: "font-family", data: {target: "text_#{count}", context: "#{count}"} } %>
        </div>
      </div>
    </div>
    <div class="small-4 columns color-box box">
      <div class="row collapse prefix-radius">
        <div class="small-4 columns">
          <span class="prefix">color</span>
        </div>
        <div class="small-8 columns">
          <%= app_form.text_field "font_color_#{count}", class: "minicolors font-color", data: {target: "text_#{count}", context: "#{count}"} %>
        </div>
      </div>
    </div>
    <div class="small-3 columns size-box box">
      <div class="row collapse prefix-radius">
        <div class="small-5 columns">
          <span class="prefix">size</span>
        </div>
        <div class="small-7 columns">
          <%= app_form.number_field "font_size_#{count}", { class: "font-size", data: {target: "text_#{count}", context: "#{count}"} } %>
        </div>
      </div>
    </div>
  </div>
</div>