<div class="row sign-up">
  <div class="small-offset-2 small-9 columns">
    <div class="">
      <div class="header">
        <h2>Sign Up</h2>
        <a href="#signInModal" rel="modal:open">Already a user?</a>
      </div>
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <div class="row collapse">
          <div class="small-3 columns">
            <span class="prefix">email</span>
          </div>
          <div class="small-9 columns">
            <%= f.email_field :email, :autofocus => true %>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-4 columns">
            <span class="prefix">password</span>
          </div>
          <div class="small-8 columns">
            <%= f.password_field :password %>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-4 columns">
            <span class="prefix">confirmation</span>
          </div>
          <div class="small-8 columns">
            <%= f.password_field :password_confirmation %>
          </div>
        </div>
        <div><%= f.submit "Sign up", class: "button small" %></div>
      <% end %>

      <% if false %>
        <%= render "devise/shared/links" %>
      <% end %>
    </div>
  </div>
</div>