<div class="devise-wrapper">
  <div class="header-wrapper">
    <h2>SIGN IN</h2>
    <div class='text'>
      new user? <a href="#signUpModal" rel="modal:open">sign up</a>
    </div>
  </div>
  <div class='form'>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class='field'><%= f.email_field :email, autofocus: true, placeholder: 'Email' %></div>
      <div class='field'><%= f.password_field :password, placeholder: 'Password' %></div>
      <div class='action'><%= f.submit '', class: "button sign-in" %></div>
    <% end %>
  </div>
  <a href="<%= user_omniauth_authorize_path(:facebook) %>" class="fb-login"></a>
  <% if false %>
    <%= render "devise/shared/links" %>
  <% end %>
</div>