<div class="devise-wrapper">
  <div class="header-wrapper">
    <h2>SIGN UP</h2>
    <div class='text'>
      already a user? <a href="#signInModal" rel="modal:open">sign in</a>
    </div>
  </div>
  <div class='form'>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class='field'><%= f.email_field :email, autofocus: true, placeholder: 'Email' %></div>
      <div class='field'><%= f.password_field :password, placeholder: 'Password' %></div>
      <div class='field'><%= f.password_field :password_confirmation, placeholder: 'Confirmation' %></div>
      <div class='action'><%= f.submit '', class: "button sign-up" %></div>
    <% end %>
  </div>
  <% if false %>
    <%= render "devise/shared/links" %>
  <% end %>
</div>