<div class="event-wrapper row">
  <div class="small-12 medium-8 large-8 small-centered columns">
    <div class="images">
      <% pictures = event.pictures %>
      <%= render partial: 'themes/images', locals: { pictures: pictures } %>
    </div>
    <div class="primary row">
      <div class="small-12 large-12 large-offset-0 columns">
        <p id="text_1" style="font-family: <%= event.font_family_1 %>;color: <%= event.font_color_1 %>;font-size: <%= px_to_rem(event.font_size_1) %>rem;"><%= event.text_1 %></p>
      </div>
    </div>
    <div class="secondary row">
      <div class="small-12 columns">
        <p id="text_2" style="font-family: <%= event.font_family_2 %>;color: <%= event.font_color_2 %>;font-size: <%= px_to_rem(event.font_size_2) %>rem;"><%= event.text_2 %></p>
      </div>
    </div>
    <div class="extra row">
      <div class="small-12 columns">
        <p id="text_3" style="font-family: <%= event.font_family_3 %>;color: <%= event.font_color_3 %>;ffont-size: <%= px_to_rem(event.font_size_3) %>rem;"><%= event.text_3 %></p>
      </div>
    </div>
    <div class="calendar row">
      <div class="small-12 columns">
        <a href="http://example.com/link-to-your-event" title="Add to Calendar" id="btn_calendar" class="addthisevent">
          Add to Calendar
          <span class="_start"><%= event.start_time.try(:strftime, "%d-%m-%Y %H:%M:%S") %></span>
          <span class="_end"><%= event.end_time.try(:strftime, "%d-%m-%Y %H:%M:%S") %></span>
          <span class="_zonecode"><%= event.time_zone %></span>
          <span class="_summary"><%= event.summary %></span>
          <span class="_location"><%= event.location %></span>
          <span class="_organizer"><%= event.organizer %></span>
          <span class="_organizer_email"><%= event.organizer_email %></span>
          <span class="_date_format"><%= event.date_format %></span>
        </a>
      </div>
    </div>
  </div>
</div>