<div class="event-wrapper row" style="background-image: url(<%= background_collection_url(event.background_image) %>)">
  <div class="small-12 medium-8 large-8 small-centered columns">
    <div class="images">
      <% pictures = if event.persisted? %>
        <% event.pictures.ordered %>
      <% else %>
        <% event.theme.pictures.slideshow.ordered %>
      <% end %>
      <%= render partial: 'themes/shared/slideshow', locals: { pictures: pictures } %>
    </div>
    <div class="primary row">
      <div class="small-12 large-12 large-offset-0 columns">
        <p id="text_1" style="font-family: <%= event.font_family_1 %>;color: <%= event.font_color_1 %>;font-size: <%= px_to_rem(event.font_size_1) %>rem;"><%= event.text_1 %></p>
      </div>
    </div>
    <div class="secondary row">
      <div class="small-12 columns">
        <p id="text_2" style="font-family: <%= event.font_family_2 %>;color: <%= event.font_color_2 %>;font-size: <%= px_to_rem(event.font_size_2) %>rem;"><%= event.text_2 %></p>
      </div>
    </div>
    <div class="extra row">
      <div class="small-12 columns">
        <p id="text_3" style="font-family: <%= event.font_family_3 %>;color: <%= event.font_color_3 %>;ffont-size: <%= px_to_rem(event.font_size_3) %>rem;"><%= event.text_3 %></p>
      </div>
    </div>
    <div class="calendar row">
      <div class="small-12 columns">
        <%= render partial: 'themes/shared/calendar', locals: {event: event} %>
      </div>
    </div>
  </div>
</div>