<div class="event-wrapper row">
  <div class="small-12 medium-6 large-8 small-centered columns">
    <div class="images">
      <ul class="example-orbit" data-orbit data-options="timer_speed:3000;animation_speed:1000;pause_on_hover:false">
        <% count = 1 %>
        <% event.pictures.each do |pic| %>
          <li>
            <img src="<%= pic.image_url %>" alt="slide <%= count %>" />
          </li>
          <% count += 1 %>
        <% end %>
      </ul>
    </div>
    <div class="title row">
      <% font_family = event.appearance.font_family %>
      <div class="small-12 columns">
        <label style="font-family: <%= font_family %>;color: white;font-size: 2rem"><%= event.title %></label>
      </div>
    </div>
    <div class="description row">
      <div class="small-12 columns">
        <label style="font-family: <%= font_family %>;color: white;font-size: 1rem"><%= event.description %></label>
      </div>
    </div>
  </div>
</div>
