<div class='header'>
  <div class="logo-wrapper">
    <a href="<%= root_path %>" class="logo-icon"></a>
  </div>
  <nav class="nav-collapse">
    <ul>
      <li><a class='underline' href="<%= root_path %>">home</a></li>
      <li><a class='underline' href="<%= categories_path %>">templates</a></li>
      <% if welcome_page? %>
        <li><a class='underline' href="#">demo invitation</a></li>
      <% end %>
      <% if current_user %>
        <li><a class='underline' href="<%= events_path %>">dashboard</a></li>
        <li><a class='underline' href="<%= new_event_path %>">editor</a></li>
        <% if current_user.admin? %>
          <li><a class='underline' href="<%= admin_path %>">admin</a></li>
        <% end %>
        <li class='user'>
          <%= current_user.email %>
          (<a href="<%= destroy_user_session_path %>" data-method='delete'>logout</a>)
        </li>
      <% else %>
        <li><a href="#signInModal" rel="modal:open" class="login"></a></li>
      <% end %>
    </ul>
  </nav>
</div>