<%= event_form.fields_for :appearance, event.appearance || Appearance.new do |app_form| %>
  <div id="background_buttons">
    <label>Background:</label>
    <% background_names.each do |background| %>
      <% background_url = background_collection_url(background) %>
      <div class="background_btn" data-name="<%= background %>" data-url="<%= background_url %>" style="background-image: url(<%= background_url %>)"></div>
    <% end %>
    <%= app_form.hidden_field :background_image, id: "background_image" %>
  </div>
  <div class="row collapse">
    <div class="small-4 columns">
      <span class="prefix">Font</span>
    </div>
    <div class="small-8 columns">
      <%= app_form.select :font_family, options_for_select(fonts_for_select), {}, { id: "font_family" } %>
    </div>
  </div>
  <div class="row collapse">
    <div class="small-4 columns">
      <span class="prefix">Font color</span>
    </div>
    <div class="small-8 columns">
      <%= app_form.text_field :font_color, class: "minicolors" %>
    </div>
  </div>
<% end %>