<div class='page-wrapper editor' data-root-url="<%= ENV['ROOT_URL'] %>">
  <div class='page-container'>
    <div class='top'>
      <div class='borderholder-1'></div>
      <div class='actions'>
        <div class='save-wrapper'>
          <a class="save" href="#"></a>
          <div class='text'>SAVE</div>
        </div>
        <% if event.published? %>
          <div class='unpublish-wrapper'>
            <a class="unpublish" href="#"></a>
            <div class='text'>UNPUBLISH</div>
          </div>
        <% else %>
          <div class='publish-wrapper'>
            <a class="publish" href="#"></a>
            <div class='text'>PUBLISH</div>
          </div>
        <% end %>
      </div>
      <div class='borderholder-2'></div>
    </div>
    <div class='body'>
      <div class='form-wrapper'>
        <%= render partial: "events/editor/form", locals: { event: event, categories: categories }  %>
      </div>
      <div class='preview-wrapper'>
        <div class='frame-1'></div><div class='preview'>
          <div class="display" style="background: url(<%= event.background_image %>)">
            <%= render partial: "themes/#{theme.category_name}/#{theme.theme_name}", locals: { event: theme } %>
          </div>
        </div><div class='frame-2'></div><div class='frame-3'></div>
      </div>
    </div>
  </div>
  <div class='modals'>
    <div class='save-modals'>
      <%= render partial: "events/editor/modals/save_event" %>
      <%= render partial: "events/editor/modals/event_saved" %>
    </div>
    <div class='publish-modals' data-event-url="<%= event_url(event) %>">
      <%= render partial: "events/editor/modals/publish_event" %>
    </div>
  </div>
</div>