<%= form_for [user, event], html: { id: "event_form" } do |event_form| %>
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#panel1">Design</a>
      <div id="panel1" class="content active">
        <div class="row collapse">
          <div class="small-4 columns">
            <span class="prefix">Event name</span>
          </div>
          <div class="small-8 columns">
            <%= event_form.text_field :name, placeholder: text_defaults(:name) %>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-4 columns">
            <span class="prefix">Primary text</span>
          </div>
          <div class="small-8 columns">
            <%= event_form.text_field :primary_text, placeholder: text_defaults(:primary) %>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-4 columns">
            <span class="prefix">Secondary text</span>
          </div>
          <div class="small-8 columns">
            <%= event_form.text_field :secondary_text, placeholder: text_defaults(:secondary) %>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-4 columns">
            <span class="prefix">Extra text</span>
          </div>
          <div class="small-8 columns">
            <%= event_form.text_field :extra_text, placeholder: text_defaults(:extra) %>
          </div>
        </div>
        <fieldset>
          <legend>Appearance</legend>
          <%= render partial: 'appearance_fields', locals: { event: event, event_form: event_form } %>
        </fieldset>
      </div>
    </dd>
    <dd>
      <a href="#panel2">Assets</a>
      <div id="panel2" class="content">
        <%= hidden_field_tag :file_type %>
        <%= hidden_field_tag :first_image %>
        <fieldset>
          <legend>Images</legend>
          <p class="text_explain">Some text that explains about the slide show</p>
          <%= event_form.fields_for :pictures, event.pictures.first || event.pictures.build do |pic_form| %>
            <%= pic_form.file_field :image, multiple: true, id: "image_file", class: "fileupload", name: "event[pictures_attributes][image]" %>
          <% end %>
          <div id="images_spinner" class="hide">
            <img src="<%= spinner_path %>">
          </div>
        </fieldset>
        <fieldset>
          <legend>Song</legend>
          <p class="text_explain">Some text that explains about the background song</p>
          <%= event_form.fields_for :song, event.song || Song.new do |song_form| %>
            <%= song_form.file_field :audio, multiple: true, id: "audio_file", class: "fileupload", name: "event[song_attributes][audio]" %>
          <% end %>
          <div id="song_spinner" class="hide">
            <img src="<%= spinner_path %>">
          </div>
        </fieldset>
      </div>
    </dd>
    <dd>
      <a href="#panel3">Information</a>
      <div id="panel3" class="content">
        <%= render partial: 'information_fields', locals: { event: event, event_form: event_form } %>
      </div>
    </dd>
  </dl>
  <%= event_form.submit class: "button small" %>
<% end %>