<%= form_for [user, event], html: { id: "event_form" } do |event_form| %>
  <%= event_form.submit 'Save & Publish', class: "save-publish-btn button expand" %>
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#panel1">Text</a>
      <div id="panel1" class="content">
        <div class="row collapse">
          <div class="small-4 columns">
            <span class="prefix">Event name</span>
          </div>
          <div class="small-8 columns">
            <%= event_form.text_field :name, placeholder: text_defaults(:name) %>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-4 columns">
            <span class="prefix">Primary text</span>
          </div>
          <div class="small-8 columns">
            <%= event_form.text_field :primary_text, placeholder: text_defaults(:primary) %>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-5 columns">
            <span class="prefix">Secondary text</span>
          </div>
          <div class="small-7 columns">
            <%= event_form.text_field :secondary_text, placeholder: text_defaults(:secondary) %>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-4 columns">
            <span class="prefix">Extra text</span>
          </div>
          <div class="small-8 columns">
            <%= event_form.text_field :extra_text, placeholder: text_defaults(:extra) %>
          </div>
        </div>
      </div>
    </dd>
    <dd>
      <a href="#panel2">Colors</a>
      <div id="panel2" class="content">
        <%= render partial: 'appearance_fields', locals: { event: event, event_form: event_form } %>
      </div>
    </dd>
    <dd>
      <a href="#panel3">Photos</a>
      <div id="panel3" class="content">
        <%= hidden_field_tag :file_type %>
        <%= hidden_field_tag :first_image %>
          <p class="text_explain">
            Upload the photos you want to display.
            <br>
            <br>
            If more than 1 photo is uploaded, it will displayed as a slideshow.
          </p>
          <%= event_form.fields_for :pictures, event.pictures.first || event.pictures.build do |pic_form| %>
            <%= pic_form.file_field :image, multiple: true, id: "image_file", class: "fileupload", name: "event[pictures_attributes][image]" %>
          <% end %>
          <div id="images_spinner" class="hide">
            <img src="<%= spinner_path %>">
          </div>
        </fieldset>
      </div>
    </dd>
    <dd>
      <a href="#panel4">Information</a>
      <div id="panel4" class="content">
        <p class="text_explain">
          Add your event information to synchronize your guests calendars.
        </p>
        <%= render partial: 'information_fields', locals: { event: event, event_form: event_form } %>
      </div>
    </dd>
  </dl>
  <div class="form-actions">
    <%= event_form.submit 'Save', class: "button small" %>
    <%= link_to 'Back', user_events_path(current_user), class: "back-btn button small" %>
  </div>
<% end %>