<%= form_for [user, event], html: { id: "event_form" } do |event_form| %>
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#panel1">Design</a>
      <div id="panel1" class="content active">
        <%= event_form.text_field :name, placeholder: "Event name" %>
        <%= event_form.text_field :primary_text, placeholder: "Primary text" %>
        <%= event_form.text_field :secondary_text, placeholder: "Secondary text" %>
        <%= event_form.text_area :extra_text, placeholder: "Extra text" %>
        <fieldset>
        <legend>Appearance</legend>
          <%= event_form.fields_for :appearance, event.appearance || Appearance.new do |app_form| %>
            <% background_names.each do |background| %>
              <% background_url = background_collection_url(background) %>
              <div class="background_btn" data-name="<%= background %>" data-url="<%= background_url %>" style="background-image: url(<%= background_url %>)"></div>
            <% end %>
            <%= app_form.hidden_field :background_image, id: "background_image" %>
            <%= app_form.select :font_family, options_for_select(fonts_for_select), {}, { id: "font_family" } %>
            <%= app_form.text_field :font_color, class: "minicolors" %>
          <% end %>
        </fieldset>
      </div>
    </dd>
    <dd>
      <a href="#panel2">Assets</a>
      <div id="panel2" class="content">
        <fieldset>
          <legend>Images</legend>
          <%= event_form.fields_for :pictures, event.pictures.first || event.pictures.build do |pic_form| %>
            <%= pic_form.file_field :image, multiple: true, name: "event[pictures_attributes][image]" %>
          <% end %>
        </fieldset>
        <fieldset>
          <legend>Song</legend>
          <%= event_form.fields_for :song do |song_form| %>
            <%= song_form.file_field :audio %>
          <% end %>
        </fieldset>
      </div>
    </dd>
    <dd>
      <a href="#panel3">Information</a>
      <div id="panel3" class="content">
        <%= event_form.fields_for :information do |info_form| %>
          <%= info_form.text_field :summary, placeholder: "Headline" %>
          <%= info_form.text_field :location, placeholder: "Location" %>
          <fieldset>
            <legend>Organizer</legend>
            <%= info_form.text_field :organizer, placeholder: "Organizer" %>
            <%= info_form.text_field :organizer_email, placeholder: "Organizer email" %>
          </fieldset>
          <fieldset>
            <legend>Time</legend>
            <%= label_tag "Zone Code" %>
            <%= info_form.number_field :zone_code %>
            <%= label_tag "Start Time" %>
            <div class="row">
              <div class="small-8 columns">
                <%= info_form.date_field :start_time %>
              </div>
              <div class="small-4 columns">
                <div class="row collapse">
                <!-- need to add time -->
                </div>
              </div>
            </div>
            <%= label_tag "End Time" %>
            <div class="row">
              <div class="small-8 columns">
                <%= info_form.date_field :end_time %>
              </div>
              <div class="small-4 columns">
                <div class="row collapse">
                <!-- need to add time -->
                </div>
              </div>
            </div>
          </fieldset>
        <% end %>
      </div>
    </dd>
  </dl>
  <%= event_form.submit class: "button small" %>
<% end %>
<% content_for(:javascript) do %>
  <script id="template-upload" type="text/x-tmpl">
    <div class="upload">
      {%=o.name%}
      <div class="progress"><div class="bar" style="width: 0%"></div></div>
    </div>
  </script>
<% end %>
