<%= form_for event, html: { id: "event_form" } do |event_form| %>
  <%= event_form.submit 'Save & Publish', class: "save-publish-btn button expand" %>
    <%= event_form.fields_for :appearance, event.appearance do |app_form| %>
    
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#panel1">Text</a>
      <div id="panel1" class="content">
        <div class="row">
          <div class="small-12 columns">
            <div class="row collapse">
              <div class="row collapse">
                <div class="small-2 columns">
                  <span class="prefix">1st</span>
                </div>
                <div class="small-10 columns">
                  <%= event_form.text_field :text_1 %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="small-5 columns font-box box">
            <div class="row collapse prefix-radius">
              <div class="small-3 columns">
                <span class="prefix">font</span>
              </div>
              <div class="small-9 columns">
                <%= app_form.select :font_family_1, options_for_select(fonts_for_select, event.font_family_1), {}, { class: "font_family_1" } %>
              </div>
            </div>
          </div>
          <div class="small-4 columns color-box box">
            <div class="row collapse prefix-radius">
              <div class="small-4 columns">
                <span class="prefix">color</span>
              </div>
              <div class="small-8 columns">
                <%= app_form.text_field :font_color_1, class: "minicolors font_color_1" %>
              </div>
            </div>
          </div>
          <div class="small-3 columns size-box box">
            <div class="row collapse prefix-radius">
              <div class="small-5 columns">
                <span class="prefix">size</span>
              </div>
              <div class="small-7 columns">
                <%= app_form.number_field :font_size_1, { class: "font_size_1" } %>
              </div>
            </div>
          </div>
        </div>

        <div class="row collapse">
          <div class="small-2 columns">
            <span class="prefix">2nd</span>
          </div>
          <div class="small-10 columns">
            <%= event_form.text_field :text_2 %>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-2 columns">
            <span class="prefix">3rd</span>
          </div>
          <div class="small-10 columns">
            <%= event_form.text_field :text_3 %>
          </div>
        </div>
        <div class="row collapse">
          <div class="small-2 columns">
            <span class="prefix">4th</span>
          </div>
          <div class="small-10 columns">
            <%= event_form.text_field :text_4 %>
          </div>
        </div>
      </div>
    </dd>
    <dd>
      <a href="#panel2">Colors</a>
      <div id="panel2" class="content">
        <!-- render partial: 'appearance_fields', locals: { event: event, event_form: event_form } -->
      </div>
    </dd>
    <dd>
      <a href="#panel3">Photos</a>
      <div id="panel3" class="content">
        <%= hidden_field_tag :file_type %>
        <%= hidden_field_tag :first_image %>
          <div class="text_explain">
            Upload the photos you want to display.
            <br>
            <br>
            If more than 1 photo is uploaded, it will displayed as a slideshow.
            <br>
            <br>
            Image size should be at most <strong>1MB</strong>. You can optimize the image size at <a href="http://www.imageoptimizer.net/Pages/Home.aspx" target="_blank">imageoptimizer</a>.
          </div>
          <%= event_form.fields_for :pictures, event.pictures.first || event.pictures.build do |pic_form| %>
            <%= pic_form.file_field :image, multiple: true, id: "image_file", class: "fileupload", name: "event[pictures_attributes][image]" %>
          <% end %>
          <div id="images_spinner" class="hide">
            <img src="<%= spinner_path %>">
          </div>
        </fieldset>
      </div>
    </dd>
    <dd>
      <a href="#panel4">Information</a>
      <div id="panel4" class="content">
        <p class="text_explain">
          Add your event information to synchronize your guests calendars.
        </p>
        <!-- render partial: 'information_fields', locals: { event: event, event_form: event_form }  -->
      </div>
    </dd>
  </dl>
  <div class="form-actions">
    <%= event_form.submit 'Save', class: "button small" %>
    <%= link_to 'Back', events_path, class: "back-btn button small" %>
  </div>
  <% end %>
<% end %>