<%= form_for event, html: { id: "event_form" } do |event_form| %>
  <%= event_form.submit 'Save & Publish', class: "save-publish-btn button expand" %>
  <%= event_form.hidden_field :theme_id %>
  <%= event_form.hidden_field :category_id %>
    <%= event_form.fields_for :appearance, event.appearance do |app_form| %>
    <dl class="accordion" data-accordion>
      <dd>
        <a href="#panel1" class="pannel-text">Template</a>
        <div id="panel1" class="content">
          <%= 
            render partial: 'elements/slider_element',
            locals: {
              categories: @categories
            }
          %>
        </div>
      </dd>
      <dd>
        <a href="#panel2" class="pannel-text">Text</a>
        <div id="panel2" class="content">
          <div class='text-element element-1'>
            <%= 
              render partial: 'elements/text_element',
                locals: {
                  event_form: event_form, 
                  app_form: app_form, 
                  event: event, 
                  title: '1st', 
                  count: '1'
                } 
            %>
          </div>
          <div class='text-element element-2'>
            <%= 
              render partial: 'elements/text_element',
                locals: {
                  event_form: event_form, 
                  app_form: app_form, 
                  event: event, 
                  title: '2nd', 
                  count: '2'
                } 
            %>
          </div>
          <div class='text-element element-3'>
            <%= 
              render partial: 'elements/text_element',
                locals: {
                  event_form: event_form, 
                  app_form: app_form, 
                  event: event, 
                  title: '3rd', 
                  count: '3'
                } 
            %>
          </div>
      </dd>
      <dd>
        <a href="#panel3" class="pannel-text">Background & Pics</a>
        <div id="panel3" class="content">
          <div class="background-title title">Background</div>
          <%= 
            render partial: 'elements/background_element', 
              locals: {
                app_form: app_form
              }
          %>
          <div class="pictures-title title">Pictures</div>
            <div class='pics-buttons'>
              <%= 
                render partial: 'elements/pics_element', 
                  locals: {
                    event: event
                  }
              %>
            </div>
          <%= event_form.fields_for :pictures, event.pictures do |pic_form| %>
            <%= pic_form.file_field :image, id: "image-file-#{pic_form.object.order}", class: "image-file",hidden: true, data: { order: pic_form.object.order } %>
            <%= pic_form.hidden_field :slideshow %>
            <%= pic_form.hidden_field :order %>
          <% end %>
        </div>
      </dd>
      <dd>
        <a href="#panel4" class="pannel-text">Information</a>
        <div id="panel4" class="content">
          <p class="text_explain">
            Add your event information to synchronize your guests calendars.
          </p>
          <!-- render partial: 'information_fields', locals: { event: event, event_form: event_form }  -->
        </div>
      </dd>
    </dl>
    <div class="form-actions">
      <%= event_form.submit 'Save', class: "button small" %>
      <%= link_to 'Back', events_path, class: "back-btn button small" %>
    </div>
  <% end %>
<% end %>