<div class="row">
  <div class="small-5 columns">
    <div class="row" id="editor">
      <div class="small-11 columns">
        <%= render partial: "form", locals: { event: event } %>
      </div>
    </div>
  </div>
  <div class="small-7 columns" id="preview" style="background-image: url(<%= background_collection_url(event.background_image) %>)" data-user="<%= current_user.id %>" data-event="<%= event.id %>">
    <%= render partial: "themes/#{event.theme_name}", locals: { event: event } %>
  </div>
</div>