<%= form_for event, html: { id: "event_form" } do |event_form| %>
  <%= event_form.submit 'Save & Publish', class: "save-publish-btn button expand" %>
    <%= event_form.fields_for :appearance, event.appearance do |app_form| %>
    
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#panel1" class="pannel-text">Template</a>
      <div id="panel1" class="content">
        <div class="slider-element">
          <div class='row'>
            <div class='small-12 columns'>
              <a href="#" class="next">></a>
              <a href="#" class="prev"><</a>
              <ul>
              <% @categories.each do |category| %>
                <li data-category='<%= category.name %>'>
                  <%= category.name %>
                  <div class="themes">
                  <% category.events.themes.each do |theme| %>
                    <a class="th" href="#">
                      <img src="<%= theme.preview_url %>">
                    </a>
                    <a class="th" href="#">
                      <img src="<%= theme.preview_url %>">
                    </a>
                    <a class="th" href="#">
                      <img src="<%= theme.preview_url %>">
                    </a>
                    <a class="th" href="#">
                      <img src="<%= theme.preview_url %>">
                    </a>
                  <% end %>
                  </div>
                </li>
              <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </dd>
    <dd>
      <a href="#panel2" class="pannel-text">Text</a>
      <div id="panel2" class="content">
        <div class='text-element element-1'>
          <%= 
            render partial: 'text_element',
              locals: {
                event_form: event_form, 
                app_form: app_form, 
                event: event, 
                title: '1st', 
                count: '1'
              } 
          %>
        </div>
        <div class='text-element element-2'>
          <%= 
            render partial: 'text_element',
              locals: {
                event_form: event_form, 
                app_form: app_form, 
                event: event, 
                title: '2nd', 
                count: '2'
              } 
          %>
        </div>
        <div class='text-element element-3'>
          <%= 
            render partial: 'text_element',
              locals: {
                event_form: event_form, 
                app_form: app_form, 
                event: event, 
                title: '3rd', 
                count: '3'
              } 
          %>
        </div>
    </dd>
    <dd>
      <a href="#panel3" class="pannel-text">Photos</a>
      <div id="panel3" class="content">
        <%= hidden_field_tag :file_type %>
        <%= hidden_field_tag :first_image %>
          <div class="text_explain">
            Upload the photos you want to display.
            <br>
            <br>
            If more than 1 photo is uploaded, it will displayed as a slideshow.
            <br>
            <br>
            Image size should be at most <strong>1MB</strong>. You can optimize the image size at <a href="http://www.imageoptimizer.net/Pages/Home.aspx" target="_blank">imageoptimizer</a>.
          </div>
          <%= event_form.fields_for :pictures, event.pictures.first || event.pictures.build do |pic_form| %>
            <%= pic_form.file_field :image, multiple: true, id: "image_file", class: "fileupload", name: "event[pictures_attributes][image]" %>
          <% end %>
          <div id="images_spinner" class="hide">
            <img src="<%= spinner_path %>">
          </div>
        </fieldset>
      </div>
    </dd>
    <dd>
      <a href="#panel4" class="pannel-text">Information</a>
      <div id="panel4" class="content">
        <p class="text_explain">
          Add your event information to synchronize your guests calendars.
        </p>
        <!-- render partial: 'information_fields', locals: { event: event, event_form: event_form }  -->
      </div>
    </dd>
  </dl>
  <div class="form-actions">
    <%= event_form.submit 'Save', class: "button small" %>
    <%= link_to 'Back', events_path, class: "back-btn button small" %>
  </div>
  <% end %>
<% end %>