<%= form_for [user, event], html: { id: "event_form" } do |event_form| %>
  <dl class="accordion" data-accordion>
    <dd>
      <a href="#panel1">Design</a>
      <div id="panel1" class="content active">
        <%= event_form.text_field :name, placeholder: "Event name" %>
        <%= event_form.text_field :primary_text, placeholder: "Primary text" %>
        <%= event_form.text_field :secondary_text, placeholder: "Secondary text" %>
        <%= event_form.text_area :extra_text, placeholder: "Extra text" %>
        <fieldset>
          <legend>Appearance</legend>
          <%= render partial: 'appearance_fields', locals: { event: event, event_form: event_form } %>
        </fieldset>
      </div>
    </dd>
    <dd>
      <a href="#panel2">Assets</a>
      <div id="panel2" class="content">
        <%= hidden_field_tag :file_type %>
        <fieldset>
          <legend>Images</legend>
          <p class="text_explain">Some text that explains about the slide show</p>
          <%= event_form.fields_for :pictures, event.pictures.first || event.pictures.build do |pic_form| %>
            <%= pic_form.file_field :image, multiple: true, id: "image_file", class: "fileupload", name: "event[pictures_attributes][image]" %>
          <% end %>
          <!-- <div class="progress [secondary alert success] [radius round]">
            <span class="meter" style="width: [1 - 100]%"></span>
          </div> -->
        </fieldset>
        <fieldset>
          <legend>Song</legend>
          <p class="text_explain">Some text that explains about the background song</p>
          <%= event_form.fields_for :song, event.song || Song.new do |song_form| %>
            <%= song_form.file_field :audio, multiple: true, id: "audio_file", class: "fileupload", name: "event[song_attributes][audio]" %>
          <% end %>
        </fieldset>
      </div>
    </dd>
    <dd>
      <a href="#panel3">Information</a>
      <div id="panel3" class="content">
        <%= render partial: 'information_fields', locals: { event: event, event_form: event_form } %>
      </div>
    </dd>
  </dl>
  <%= event_form.submit class: "button small" %>
<% end %>
<% content_for(:javascript) do %>
  <script id="template-upload" type="text/x-tmpl">
    <div class="upload">
      {%=o.name%}
      <div class="progress success round"><span class="meter" style="width: 0%"></span>
    </div>
  </script>
<% end %>
