<%= event_form.fields_for :information, event.information || Information.new do |info_form| %>
  <div class="row collapse">
    <div class="small-3 columns">
      <span class="prefix">Headline</span>
    </div>
    <div class="small-9 columns">
      <%= info_form.text_field :summary, placeholder: text_defaults(:headline) %>
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <span class="prefix">Location</span>
    </div>
    <div class="small-9 columns">
      <%= info_form.text_field :location, placeholder: text_defaults(:location) %>
    </div>
  </div>
  <fieldset>
    <legend>Organizer</legend>
    <div class="row collapse">
      <div class="small-3 columns">
        <span class="prefix">Name</span>
      </div>
      <div class="small-9 columns">
        <%= info_form.text_field :organizer, placeholder: text_defaults(:organizer) %>
      </div>
    </div>
    <div class="row collapse">
      <div class="small-3 columns">
        <span class="prefix">Email</span>
      </div>
      <div class="small-9 columns">
        <%= info_form.text_field :organizer_email, placeholder: text_defaults(:organizer_email) %>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Time</legend>
    <%= label_tag "Time Zone" %>
    <%= info_form.select :time_zone, time_zones_options_string.html_safe %>
    <%= label_tag "Start Time" %>
    <div class="row">
      <div class="small-8 columns">
        <%= info_form.text_field :start_time, class: 'datepicker' %>
      </div>
    </div>
    <%= label_tag "End Time" %>
    <div class="row">
      <div class="small-8 columns">
        <%= info_form.text_field :end_time, class: 'datepicker' %>
      </div>
    </div>
  </fieldset>
<% end %>