<div class='tile'>
  <div class='tile-header'>
    <div class='name-wrapper name-editor'>
      <div class='name vertical-align'>
        <div class='edit-icon'></div>
        <a href="#" class="event-name" data-type="text" data-url="<%= event_path(event) %>" data-pk="<%= event.id %>"><%= event.name %></a>
      </div>
    </div>
  </div>
  <div class='url-wrapper url-editor'>
    <div class='url vertical-align'>
      <div class='edit-icon'></div>
      <%= ENV['ROOT_URL'] %><a href="#" class="event-url" data-type="text" data-url="<%= event_path(event) %>" data-pk="<%= event.id %>"><%= event.url %></a>
    </div>
  </div>
  <div class='image-wrapper'>
    <div class='image' style="background: url('<%= event.pictures.first.image_url %>') no-repeat; background-size: cover;">
      <div class='menu-wrapper'>
        <div class='buttons'>
          <a class="preview" target="_blank" href="#"></a>
          <a class="edit" href="#"></a>
        </div>
        <div class='info'>
          <div class='theme-name'>
            "<%= event.theme_name %>"
          </div>
          <div class='date'>
            <%= event.created_at.strftime('%F') %>            
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='analytics'>
    <div class='views'>
      <img src="<%= asset_url('dashboard', 'view_icon.svg') %>">
      <div class='text'><%= event.views_count %></div>
    </div>
  </div>
  <div class='tile-footer'>
    <div class="info">
      <div class='time'>
        <img src="<%= asset_url('dashboard', 'time_icon.svg') %>">
        <div class='text'><%= event.start_time.strftime('%F %H:%M') %></div>
      </div>
      <div class='place'>
        <img src="<%= asset_url('dashboard', 'place_icon.svg') %>">
        <div class='text'><%= event.location %></div>
      </div>
    </div>
    <div class="actions">
      <% if event.published? %>
        <div class='unpublish-wrapper'>
          <a class="unpublish" href="#"></a>
          <div class='text'>UNPUBLISH</div>
        </div>
      <% else %>
        <div class='publish-wrapper'>
          <a class="publish" href="#"></a>
          <div class='text'>PUBLISH</div>
        </div>
      <% end %>
        <div class='delete-wrapper'>
          <a class="delete" href="#"></a>
          <div class='text'>DELETE</div>
        </div>
    </div>
  </div>
</div>