<div class="single-event">
  <div class="event-thumbnail">
    <!-- render slim view of event -->
  </div>
  <div class="event-info">
    <!-- add some test -->
    <%= link_to "preview", user_event_path(user, event) %>
    <%= link_to "edit", edit_user_event_path(user, event) %>
    <%= link_to "delete", user_event_path(user, event), method: :delete %>
  </div>
</div>
<%= form_for [@user, @event] do |event_form| %>
  <%= event_form.submit class: "button small" %>
<% end %>