<% theme_path = "themes/#{@event.category_name}/#{@event.theme_name}" %>

<% content_for :title do %>
  <%= @event.name %>
<% end %>

<% content_for :header do %>
  <%= stylesheet_link_tag "#{theme_path}/base" %>
<% end %>

<div class="display fullscreen-background" style="<%= background_style_for(@event) %>">
  <%= render partial: theme_path, locals: { event: @event } %>
</div>
<%= render partial: "layouts/display_footer" %>