<div class="gallery">
  <div class='gallery-header'>
    <a href="#" class="prev"><</a>
    <div class='category-name'><%= categories.first.name.upcase %></div>
    <a href="#" class="next">></a>
  </div>
  <div class='slide'>
    <% categories.each do |category| %>
      <div class='themes-wrapper'>
        <div class="themes" data-category-name="<%= category.name.upcase %>">
          <% category.events.themes.active.each do |theme| %>
            <div class='gallery-theme' data-theme="<%= theme.id %>" data-category="<%= category.id %>" style="background: url('<%= theme.thumbnail_url %>') no-repeat; background-size: cover;"></div>
          <% end %>
        </div>
      </div>
    <% end %>
    <!-- COMING SOON -->
    <div class='themes-wrapper'>
      <div class="coming-soon celebration" data-category-name="CELEBRATION">
        <div class="category-text">COMING SOON</div>
      </div>
    </div>
    <div class='themes-wrapper'>
      <div class="coming-soon meetups" data-category-name="MEETUPS">
        <div class="category-text">COMING SOON</div>
      </div>
    </div>
    <div class='themes-wrapper'>
      <div class="coming-soon whatever" data-category-name="WHATEVER">
        <div class="category-text">COMING SOON</div>
      </div>
    </div>
    <!--  -->
  </div>
</div>