<div class='information'>

  <div class='sync-section'>
    <div class='checkbox'>
      <%= info_form.text_field :in_use, hidden: true, class: 'input-checkbox' %>
    </div>

    <div class='text'>
      synchronize your guests calendars
    </div>
  </div>

  <div class='name-section'>
    <%= info_form.text_field :summary, placeholder: 'event name' %>
    <%= info_form.text_field :location, placeholder: 'event location' %>
  </div>

  <div class='organizer-section'>
    <div class='text'>
      event organizer
    </div>

    <div class='inputs'>
      <%= info_form.text_field :organizer, placeholder: 'full name' %>
      <%= info_form.text_field :organizer_email, placeholder: 'email' %>
    </div>
  </div>

  <div class='time-section'>
    <div class='text'>
      date & time
    </div>

    <div class='inputs'>
      <%= info_form.select :time_zone, time_zones_options_string.html_safe %>
      <input type="text" class="date start"/>
      <input type="text" class="time start"/>
      <div class='text'>to</div>
      <input type="text" class="time end"/>
      <input type="text" class="date end"/>
      <%= info_form.text_field :start_time, hidden: true, class: 'hidden-input' %>
      <%= info_form.text_field :end_time, hidden: true, class: 'hidden-input' %>
    </div>
  </div>
</div>