<div class="text-line" data-target="<%= "#{count}" %>">
  <div class='input-wrapper'>
    <div class='input-icon icon-<%= count %>'>
    </div><%= event_form.text_field "text_#{count}",
      id: "text_#{count}",
      data: { context: "#{count}" }
    %>
  </div>
  <div class='appearance-wrapper'>
    <div class='text-font'>
      <div class="prefix" data-context="<%= count %>">FONT</div><%=
        app_form.select "font_family_#{count}",
        fonts_for_select,
        {},
        class: "font-family",
        data: { context: "#{count}" }
      %>
    </div>
    <div class='text-color'>
      <div class="prefix" data-context="<%= count %>">COLOR</div><%=
        app_form.text_field "font_color_#{count}",
        class: "minicolors font-color",
        data: { context: "#{count}" }
      %>
    </div>
    <div class='text-size'>
      <div class="prefix" data-context="<%= count %>">SIZE</div><%=
        app_form.number_field "font_size_#{count}",
        class: "font-size",
        data: { context: "#{count}" }
      %>
    </div>
  </div>
</div>