<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>webivite</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag shared_assets_url 'favicon.ico' %>
    <%= stylesheet_link_tag 'comming_soon' %>
  </head>
  <body>
  <div class="main-wrapper">
    <div class="form">
      <%= form_for @lead do |f| %>
        <%= f.text_field :email, placeholder: 'Email', class: 'email-input' %>
        <%= f.submit "Comment", type: :image, src: image_url_for('comming_soon', 'button_before.svg'), class: 'submit-btn' %>
      <% end %>
    </div>        
  </div>
    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "comming_soon" %>
  </body>
</html>