<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>webivite</title>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag shared_assets_url 'favicon.ico' %>
  <%= stylesheet_link_tag 'comming_soon' %>
  <link rel="prefetch" href="<%= image_url_for('comming_soon', 'btn_between.svg') %>">
  <link rel="prefetch" href="<%= image_url_for('comming_soon', 'btn_after.svg') %>">
  <script>(function() {
    var _fbq = window._fbq || (window._fbq = []);
    if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
    }
    _fbq.push(['addPixelId', '908256945885491']);
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(['track', 'PixelInitialized', {}]);
  </script>
  <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=908256945885491&amp;ev=PixelInitialized" /></noscript>
</head>
<body>
  <div class="background">
    <div class='form'>
      <%= form_for @lead, url: leads_path do |f| %>
        <%= f.text_field :email, placeholder: 'Email', class: 'email-input' %>
        <%= f.submit "Comment", type: :image, src: image_url_for('comming_soon', 'btn_before.svg'), class: 'submit-btn' %>
      <% end %>
    </div>
  </div>
  <!-- Javascripts
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "comming_soon" %>
  <script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

   ga('create', 'UA-58918911-1', 'auto');
   ga('send', 'pageview');

  </script>
</body>
</html>