<div class="page-wrapper welcome">
  <div class='slideshow-wrapper'>
    <div class='images slideshow'>
      <img src="https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/welcome/beach_slide.jpg">
      <img src="https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/welcome/business_slide.jpg">
      <img src="https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/welcome/record_slide.jpg">
    </div>
    <div class='box-wrapper'>
      <div class="peggy-wrapper">
        <img src="https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/welcome/peggy.svg">
      </div>
      <div class="logo-box">
        <div class='logo-wrapper'>
          <img src="https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/welcome/logo_text.svg">
        </div>
        <div class="tagline-1">
          create your own
          <br>
          unique digital
          <br>
          invitation
        </div>
      </div>
      <div class='tagline-2'>
        EASY, QUICK & AWESOME
      </div>
      <div class='start-wrapper'>
        <% if current_user.nil? %>
          <a href="#signUpModal" rel="modal:open" class="start"></a>
        <% else %>
          <a href="<%= events_path %>" class="start"></a>
        <% end %>
      </div>
    </div>
  </div>
  <div class='categories-wrapper'>
    <div class='segments'>
      <div class='segment-wrapper'>
        <div class='segment-icon'>
          <a href="<%= categories_path %>" class="weddings"></a>
        </div>
        <div class="segment-text">weddings</div>
      </div>
      <div class='segment-wrapper'>
        <div class='segment-icon'>
          <a href="<%= categories_path %>" class="celebration"></a>
        </div>
        <div class="segment-text">celebration</div>
      </div>
      <div class='segment-wrapper'>
        <div class='segment-icon'>
          <a href="<%= categories_path %>" class="meetups"></a>
        </div>
        <div class="segment-text">meetups</div>
      </div>
      <div class='segment-wrapper'>
        <div class='segment-icon'>
          <a href="<%= categories_path %>" class="whatever"></a>
        </div>
        <div class="segment-text">whatever</div>
      </div>
    </div>
    <div class='demo-link'>
      <a href="http://www.eventit.me/natasha_and_jhonatahn">view demo invitation >></a>
    </div>
  </div>
  <div class='responsive-wrapper'>
    <div class='image-wrapper'>
      <img src="https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/welcome/responsive_image.png">
    </div>
    <div class='responsive-text'>
      one design - every device - only 25$
    </div>
  </div>
  <div class='success-wrapper'>
    <div class='couples slideshow-fade'>
      <div class='couple-wrapper'>
        <div class="image-wrapper">
          <img src="https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/welcome/couple_1.png">
        </div>
        <div class='couple-name'>
          neta & ron
        </div>
        <div class='text-wrapper'>
          "We used this for our wedding and it was GREAT!
          <br>
          We got many great feedbacks from our friends and family"
        </div>
      </div>
      <div class='couple-wrapper'>
        <div class="image-wrapper">
          <img src="https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/welcome/couple_2.png">
        </div>
        <div class='couple-name'>
          mimi & shlomi
        </div>
        <div class='text-wrapper'>
          "What an amazing idea - I’m the worst when it comes
          <br>
          to techy stuff and even I was able to create an awesome e-invite…"
        </div>
      </div>
      <div class='couple-wrapper'>
        <div class="image-wrapper">
          <img src="https://s3-eu-west-1.amazonaws.com/events-assets-static/pages/welcome/couple_3.png">
        </div>
        <div class='couple-name'>
          shlomit & shay
        </div>
        <div class='text-wrapper'>
          "Great fun! It was so easy and fast.
          <br>
          Our save-the-date page turned out really cool."
        </div>
      </div>
    </div>
  </div>
</div>
<% if current_user.nil? %>
  <!-- Sign In modal -->
  <div id="signInModal" class="modal">
    <%= render partial: 'devise/shared/sign_in' %>
  </div>
  <!--  -->
  <!-- Sign Up modal -->
  <div id="signUpModal" class="modal">
    <%= render partial: 'devise/shared/sign_up' %>
  </div>
  <!--  -->
<% end %>