<a href="http://example.com/link-to-your-event" title="Add to Calendar" id="btn_calendar" class="addthisevent">
  Add to Calendar
  <span class="_start"><%= event.start_time.try(:strftime, "%d-%m-%Y %H:%M:%S") %></span>
  <span class="_end"><%= event.end_time.try(:strftime, "%d-%m-%Y %H:%M:%S") %></span>
  <span class="_zonecode"><%= event.time_zone %></span>
  <span class="_summary"><%= event.summary %></span>
  <span class="_location"><%= event.location %></span>
  <span class="_organizer"><%= event.organizer %></span>
  <span class="_organizer_email"><%= event.organizer_email %></span>
  <span class="_date_format"><%= event.date_format %></span>
</a>