<div class='segment-wrapper'>
  <div class='segment-icon'>
    <% if current_user %>
      <a href="<%= app_path(page: :editor) %>" class="<%= category %>"></a>
    <% else %>
      <a href="#signInModal" rel="modal:open" class="<%= category %>"></a>
    <% end %>
  </div>
  <div class="segment-text"><%= category %></div>
</div>
<% last_index = templates.size - 1 %>
<% templates.each_with_index do |template, index| %>
  <%
    klass = if index == 0 %>
    <% 'first' %>
  <% elsif index == last_index %>
    <% 'last' %>
  <% else %>
    <% '' %>
  <% end %>
  <div class='tile-wrapper <%= klass %>'>
    <div class='tile' style="background: url('<%= template.thumbnail_url %>') no-repeat; background-size: cover;">
      <div class='menu-wrapper'>
        <div class='buttons'>
          <a class="preview"
             title="preview"
             target="_blank"
             href="<%= event_path(id: template.name, url: template.name) %>">
          </a>
          <% if current_user %>
            <a class="edit"
               title="edit"
               href="<%= app_path(page: :editor, template: template.name) %>">
            </a>
          <% else %>
            <a title="edit"
               href="#signInModal"
               rel="modal:open"
               class="edit">
            </a>
          <% end %>
        </div>
      </div>
    </div>
    <div class='tile-text'><%= template.name %> (25$)</div>
  </div>
<% end %>