<div class='categories-index small-12 columns'>
  <div class='header'>
    <h3>Pick the template you like and start event it!</h3> 
  </div>
  <% @categories.each do |category| %>
    <div class='category-row'>
      <div class='category-tile tile' style="background-color: <%= category_color(category.name) %>">
        <div class='text'>
          <h4><%= category.name.upcase %></h4>
        </div>
        <div class='icon'>
          <img src="<%= category_image_url(category.name) %>">
        </div>
      </div>
      <div class='events-tiles'>
        <% category.events.themes.each do |theme| %>
          <div class="event-tile tile">
            <a class="th" href="#">
              <img src="<%= theme.preview_url %>">
            </a>
            <div class='menu-container'>
              <div class='buttons'>
                <%= link_to 'Preview', event_path(id: theme.id, preview: true), class: "back-btn button small" %>
                <%= link_to 'Edit', new_event_path(theme_id: theme.id, category_id: category.id), class: "button small" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>      
    </div>
  <% end %>
</div>    