<div class='categories-index small-12 columns'>
  <div class='header'>
    <h3>Pick the template you like and start event it!</h3> 
  </div>
  <% ['wedding', 'birthday', 'party', 'other'].each do |category_name| %>
    <div class='category-row'>
      <div class='category-tile tile' style="background-color: <%= category_color(category_name) %>">
        <div class='text'>
          <h4><%= category_name.upcase %></h4>
        </div>
        <div class='icon'>
          <img src="<%= category_image_url(category_name) %>">
        </div>
      </div>
      <div class='events-tiles'>
        <!-- category.events.each do |event| -->
        <% 4.times do |j| %>
          <div class="event-tile tile">
            <div class='img-container'>
              <%= "Theme #{j}" %>
            </div>
            <div class='menu-container'>
              <div class='buttons'>
                <%= link_to 'Preview', '#', class: "back-btn button small" %>
                <%= link_to 'Edit', '#', class: "back-btn button small" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>      
    </div>
  <% end %>
</div>    