<div class='page-wrapper categories'>
  <div class="categories-title">pick your favorite template and start <div class='logo'></div></div>
  <div class='tiles-wrapper'>
    <div class='weddings'>
      <%=
        render partial: 'tiles_row', locals: {
          category: 'weddings',
          templates: @templates['wedding']
        }
      %>
    </div>
    <div class='celebration'>
      <%=
        render partial: 'tiles_row_holder', locals: {
          category: 'celebration',
          templates: @templates['celebration']
        }
      %>
    </div>
    <div class='meetups'>
      <%=
        render partial: 'tiles_row_holder', locals: {
          category: 'meetups',
          templates: @templates['meetups']
        }
      %>
    </div>
    <div class='whatever'>
      <%=
        render partial: 'tiles_row_holder', locals: {
          category: 'whatever',
          templates: @templates['whatever']
        }
      %>
    </div>
  </div>
</div>
<% if current_user.nil? %>
  <!-- Sign In modal -->
  <div id="signInModal" class="modal">
    <%= render partial: 'devise/shared/sign_in' %>
  </div>
  <!--  -->
  <!-- Sign Up modal -->
  <div id="signUpModal" class="modal">
    <%= render partial: 'devise/shared/sign_up' %>
  </div>
  <!--  -->
<% end %>