<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="webivite" />
    <meta property="og:image" content="<%= example_events_image_url %>" />
    <title><%= content_for?(:title) ? yield(:title) : "webivite" %></title>
    <link href='http://fonts.googleapis.com/css?family=Tauri|Playfair+Display|Gidugu|Rozha+One|Yesteryear|Lobster|Anton|Grand+Hotel|Actor|Fanwood+Text|Francois+One|Julius+Sans+One|Karla:700|Quattrocento+Sans|Oswald|Berkshire+Swash|Alef|Six+Caps|Prata|Leckerli+One|Vibur|Hammersmith+One|Cinzel' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag  "application" %>
    <%= stylesheet_link_tag  "http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" %>
    <script type="text/javascript" src="http://js.addthisevent.com/atemay.js"></script>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!-- top bar -->
    <nav class="top-bar" data-topbar data-options="is_hover: false">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">MyEvent</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
        <% if current_user %>
        <!-- Right Nav Section -->
          <li class="has-dropdown">
            <a href="#"><%= current_user.email %></a>
            <ul class="dropdown">
              <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
        <li class="has-form">
          <a href="#" class="button" data-reveal-id="signInModal">Sign In</a>
        </li>
        <% end %>
        </ul>
      </section>
    </nav>
    <!-- main container -->
    <div class="main-container" style="background-image: url(<%= background_url_for(@page_name) %>)">
      <!-- Sign In modal -->
      <div id="signInModal" class="reveal-modal small" data-reveal>
        <%= render partial: 'devise/shared/sign_in' %>
        <a class="close-reveal-modal">&#215;</a>
      </div>
      <!--  -->
      <!-- Sign Up modal -->
      <div id="signUpModal" class="reveal-modal small" data-reveal>
        <%= render partial: 'devise/shared/sign_up' %>
        <a class="close-reveal-modal">&#215;</a>
      </div>
      <!--  -->
      <div class="row">
        <div class="small-12 columns">
          <div class="flashes small-4 small-offset-10 columns">
            <%= render partial: "shared/flashes" if flash.present? %>
          </div>
          <%= yield %>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="row">
        <div class="large-8 large-offset-1 columns">
          <div class="logo">MyEvent</div>
          <div class="links">
            <ul>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= yield(:javascript) %>
  </body>
</html>