<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Events" %></title>
    <%= stylesheet_link_tag  "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="top-bar" data-topbar data-options="is_hover: false">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">MyEvent</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
      </ul>

      <section class="top-bar-section">
        <% if current_user %>
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="has-dropdown">
            <a href="#"><%= current_user.email %></a>
            <ul class="dropdown">
              <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        </ul>
        <% end %>
      </section>
    </nav>
    <div class="main-container">
      <div class="row">
        <div class="small-12 small-centered columns">
          <div class="flashes">
            <%= render partial: "shared/flashes" if flash.present? %>
          </div>
          <%= yield %>
        </div>
      </div>
    </div>
    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= yield(:javascript) %>
    <script type="text/javascript" src="http://js.addthisevent.com/atemay.js"></script>
  </body>
</html>