<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <% if @event %>
      <meta property="og:title" content="<%= @event.name %>" />
      <meta property="og:image" content="<%= @event.pictures.first.image_url %>" />
      <meta property="og:site_name" content="webivte.com/<%= @event.url %>" />
    <%= yield(:header) %>
      <meta property="og:url" content="webivte.com/<%= @event.url %>" />
      <meta property="og:description" content="<%= "#{@event.name} #{@event.information.start_time} #{@event.information.location}" %>" />
    <% end %>
    <title><%= content_for?(:title) ? yield(:title) : "Event" %></title>
    
    <%= stylesheet_link_tag  "display" %>
    <%= javascript_include_tag "display", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "vendor/modernizr" %>

    <link href='http://fonts.googleapis.com/css?family=Tauri|Playfair+Display|Gidugu|Rozha+One|Yesteryear|Lobster|Anton|Grand+Hotel|Actor|Fanwood+Text:400,400italic|Francois+One|Julius+Sans+One|Karla:700|Quattrocento+Sans|Oswald|Berkshire+Swash|Alef|Six+Caps|Prata|Leckerli+One|Vibur|Hammersmith+One|Cinzel' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="http://js.addthisevent.com/atemay.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.4.1/slick.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.4.1/slick.css"/>
        
    <%= csrf_meta_tags %>
    <%= favicon_link_tag shared_assets_url 'favicon.ico' %>
  </head>
  <body>
    <div class="main-wrapper">
      <%= yield %>
    </div>
    <div class="footer">
      <div class='footer-container'>
        <img src="<%= shared_assets_url('logo_footer.svg') %>">
        <a href="<%= root_path %>" target="_blank">create your own webivite >></a>
      </div>
    </div>
    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= yield(:javascript) %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })
        (window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-58918911-1', 'auto');
        ga('send', 'pageview');
    </script>
  </body>
</html>