<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Event" %></title>
    <%= stylesheet_link_tag  "display" %>
    <%= csrf_meta_tags %>
  </head>
  <body style="background-image: url(<%= @background_image %>)">
    <div class="row">
      <div class="small-12 small-centered columns">
        <%= yield %>
      </div>
    </div>
    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "display" %>
    <%= yield(:javascript) %>
  </body>
</html>