<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= render partial: "layouts/og_tags", locals: {event: @event} %>

    <title>
      <%= content_for?(:title) ? yield(:title) : "Event" %>
    </title>

    <%= favicon_link_tag shared_assets_url 'favicon.ico' %>
    <%= stylesheet_link_tag  "display" %>
    <%= render partial: 'layouts/shared/external_stylesheets' %>
    <%= csrf_meta_tags %>

    <%= yield(:header) %>
  </head>
  <body>
    <div class="overlay">
      <div class='spinner-container'>
        <img class="vertical-align" src="https://s3-eu-west-1.amazonaws.com/events-assets-static/shared/loading.gif">
      </div>
    </div>
    <%= yield %>
    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "display", "data-turbolinks-track" => true %>
    <%= render partial: 'layouts/shared/external_javascripts' %>
    <%= yield(:javascript) %>
  </body>
</html>